$iphone: 360px
$ipadPortrait: 720px
$ipad: 1204px

@font-face
  font-family: ErnestinePro
  src: url(font-path('ErnestinePro.otf')) format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: ErnestinePro
  src: url(font-path('ErnestinePro-Bold.otf')) format('opentype')
  font-weight: bold
  font-style: normal

@font-face
  font-family: ErnestinePro
  src: url(font-path('ErnestinePro-BoldItalic.otf')) format('opentype')
  font-weight: bold
  font-style: italic

@font-face
  font-family: ErnestinePro
  src: url(font-path('ErnestinePro-Italic.otf')) format('opentype')
  font-weight: normal
  font-style: italic

@media all
  body
    margin: 0px
    font:
      size: 12px
      family: 'Helvetica Neue'

  p
    margin-top: 5px

  h3
    color: #5b7f19
    margin-bottom: 0px
    font:
      size: 24px
      weight: bold

  h2
    color: #99cc33
    font:
      size: 30px
      family: ErnestinePro
      weight: bold
      style: italic

  h1
    color: #9c3
    font:
      size: 72px
      family: ErnestinePro
      style: italic

  .bold
    font-weight: bold

  .mobile
    display: none

  .header
    background-color: #35BED4
    width: 100%
    padding-top: 3px
    padding-bottom: 3px
    height: 40px
    img
      position: relative
      z-index: 2243
      left: 12%
      top: 13px
    div
      float: right
      margin-right: 10%
    a#sign_in
      float: right
      line-height: 32px
      text-decoration: none
      background:
        image: url(image_path("button.png"))
        repeat: no-repeat
      height: 32px
      width: 88px
      text-align: center
      color: white
      font:
        size: 12px
        family: "Helvetica Neue"

  .container
    max-width: 1280px
    margin: 0 auto

  .image-block
    img
      width: 100%

  .content
    background-color: #ffffff
    .info-block
      .block-content
        padding-left: 28%
        padding-right: 10%
        color: #464646
        font:
          size: 24px
        .row
          display: table-row
          .col-location
            text-align: center
            width: 50%
          .col-chat-text
            width: 55%
          .col-chat
            text-align: center
          .cell
            display: table-cell
            vertical-align: middle
      &#retailers
        p.demo
          font:
            size: 24px
            family: 'Helvetica Neue'
          span
            color: #2890a1
            font-size: 24px

    .block
      height: 743px
      position: relative
      background:
        position: top center
        repeat: no-repeat
        size: 100%
      &#intro
        background-image: url(image_path("image1.png"))
        .image-text
          font-size: 48px
          width: 35%
          padding-top: 7%
          padding-left: 20%
          font-weight: normal
        .text-block
          .block-content-wrapper, .image-text
            padding-left: 20%
            .block-content
              margin-right: 120px
        .image-content
          top: -25px
          max-width: 185px
          font:
            size: 14px
          p
            padding-left: 20px
      &#ask
        background-image: url(image_path("image2.png"))
      &#give
        background-image: url(image_path("image3.png"))
        .text-block
          .block-content-wrapper
            padding-bottom: 0px
          span
            bottom: -27px

    .image-text
      color: white
      padding-left: 28%
      text-shadow: 1px 3px #464646
      overflow: hidden
      font:
        size: 186px
        family: ErnestinePro
        weight: bold
        style: italic
      span
        position: relative
        bottom: -47px
    .text-block
      color: #464646
      position: absolute
      bottom: 0px
      font:
        size: 24px
      .block-content-wrapper
        background-color: #fff
        padding-left: 28%
        padding-bottom: 80px
        float: left
        .block-content
          width: 53%
          float: left
          margin-right: 20px
          padding-top: 20px

    .image-content
      float: left
      position: relative
      top: -55px

  .footer
    background-color: #363636
    color: #f5f5f5
    margin-top: 60px
    padding-left: 20%
    overflow: hidden
    div.paidpiper
      float: left
      img
        padding-right: 10px
        padding-top: 15px
    span
      line-height: 50px

@media screen and (max-width: 899px) and (min-width: $ipadPortrait)

  .content
    .info-block
      .block-content
        padding-left: 10%

    .block
      &#intro
        .image-text
          font-size: 48px
          width: 35%
        .text-block
          .block-content-wrapper, .image-text
            padding-left: 9%
            .block-content
              margin-right: 65px

    .image-text
      padding-left: 10%
    .text-block
      .block-content-wrapper
        padding-left: 10%

@media screen and (max-width: $ipadPortrait - 1)
  h2
    font-size: 21px
  h3
    font-size: 18px
  h1
    color: #99cc33
    font:
      family: ErnestinePro
      weight: bold
      size: 21px

  .non-mobile
    display: none !important
  .mobile
    display: block
  .header
    img
      left: 40%
      top: 0px
    div
      margin-right: 10px

  .content
    .info-block
      h1, h2
        text-align: center
      .block-content
        padding-left: 25px
        padding-right: 20px
        font-size: 15px

      &#retailers
        p.demo
          font-size: 15px
          span
            font-size: 15px

    .block#intro
      .image-text
        font-size: 30px
        width: 60%
        padding-top: 15%
        padding-left: 25px
      .block-content-wrapper
        margin-top: 30px
        .image-content
          float: none
          margin: 0 auto
          margin-bottom: -25px
        .block-content
          font-size: 18px
    .block#give
      .text-block
        .image-text
          span
            bottom: -10px

    .block
      background-size: 140%
      height: 590px
      .text-block
        .image-text
          padding-left: 25px !important
          font-size: 93px
          span
            bottom: -24px

      .block-content-wrapper
        padding-left: 25px !important
        padding-bottom: 30px
        .block-content
          margin-right: 20px !important
          width: 100% !important
          font-size: 15px
          p
            margin-right: 20px !important

          img
            float: right
            margin-top: -60px
  .footer
    padding-left: 25px
    .legend
      padding: 10px 0 10px 54px
      span
        line-height: inherit
